langchain==1.2.15
langchain-community==0.4.1
langchain-chroma==1.1.0
langchain-groq==1.1.2
langchain-huggingface==1.2.2
langgraph==1.1.6
chromadb==1.5.8
sentence-transformers==5.4.1
groq==0.37.1
pypdf==6.10.0
pulp==3.3.0
scipy==1.17.1
numpy==2.4.4
pandas==3.0.2
python-dotenv==1.2.2
streamlit==1.57.0
